.container {
  background-color: var(---033057);
  color: var(---ffffff);
  height: 289px;
}

.content {
  padding-top: 46px;
  margin-left: var(---margin-left);
  margin-right: var(---margin-right);
}

.link {
  color: var(---ffffff);
  margin-right: 15px;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
